* {
  font-family: "RocknRoll One", sans-serif;
}

div.note-card {
  max-width: 250px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 7px 0px #8080804f;
  padding: 15px;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
}
div.note-card:hover {
  background-color: rgb(231, 231, 231);
}

form.form {
  width: 70%;
  min-width: 250px;
  padding: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.no-note-icon {
  fill: gray;
  font-size: 10vw;
  position: absolute;
  top: 40%;
  left: 46.5%;
}

.add-btn {
  position: fixed;
  align-self: center;
  bottom: 30;
  left: 50%;
  font-weight: bold;
  border-radius: 20;
}