* {
  font-family: "RocknRoll One", sans-serif;
}

div.note-card {
  max-width: 250px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 7px 0px #8080804f;
  padding: 15px;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
}
div.note-card:hover {
  background-color: rgb(231, 231, 231);
}
